<?xml version="1.0"?>
<config>
	<modules>
		<Hans2103_ReviewSummaryTemplates>
			<version>1.0.0</version>
		</Hans2103_ReviewSummaryTemplates>
	</modules>
	<global>
		<blocks>
			<review>
				<rewrite>
					<helper>Hans2103_ReviewSummaryTemplates_Block_Helper</helper>
				</rewrite>
			</review>
		</blocks>
	</global>
</config>